[submodule "coligio-front"]
	path = coligio-front
	url = https://github.com/pedroespindula/coligio-front
[submodule "coligio-back"]
	path = coligio-back
	url = https://github.com/pedroespindula/coligio-back
